<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raccourcisseur URL</title>
</head>
<body>
    <h1>Creer un nouveau raccourcis</h1>
    <p>
        {% if envoi %} Votre url a bien été raccourci{% endif %}
        <form action="{% url "MiniURL:forms_views" %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
        <a href="{% url "MiniURL:list" %}">Voir la liste des URL</a>
    </p>
</body>
</html>